include *.py
include *.txt
include *.rst
include CHANGES
include LICENSE
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.sql
recursive-include docs *.bat
recursive-include docs Makefile
recursive-include pylytics *.jinja
recursive-include pylytics *.sql